.header {
  padding: 2rem;
  max-width: 500px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.header__nav-logo {
  color: var(--l-gray);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
.header__nav-toggle {
  cursor: pointer;
}
.header__search {
  background-color: white;
  padding: 1rem 0.75rem;
  border-radius: 0.25rem;
}
.header__search-text {
  font-family: "Josefin Sans", sans-serif;
  margin-left: 0.75rem;
  border: none;
  background-color: white;
}
.header__search-text::placeholder {
  color: var(--dark-grayblue);
}
.header__search-text:focus {
  outline: none;
}

@media (min-width: 550px) {
  .header {
    margin: 0 auto;
  }
}
