.do {
  background-color: white;
  padding: 1rem 0.75rem;
  border-radius: 0.25rem;
  border-top: 1px solid var(--l-grayblue);
  display: flex;
  justify-content: space-between;
}
.do__text {
  flex: 2;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 0.75rem;
  border: none;
  background-color: white;
}
.do__text:focus {
  outline: none;
}
