@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --l-gray: hsl(0, 0%, 98%);
  --vl-grayblue: hsl(236, 33%, 92%);
  --l-grayblue: hsl(233, 11%, 84%);
  --dark-grayblue: hsl(236, 9%, 61%);
  --vdark-grayblue: hsl(235, 19%, 35%);
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-mode {
  background-color: var(--l-gray);
}

.dark-mode {
  background-color: var(--vdark-grayblue);
  color: var(--l-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
